body {
  background-color: #f4f4f4;
}
body, #userinput {
  font-family: menlo, consolas, monaco, monospace;
  font-size: 16px;
}

h2, #userinput { margin-left: 158px; }
#userinput { width: 400px; width: 75% }
#chat { margin-top: 0.5em; }